

<!DOCTYPE html>
<html lang="zh" >
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8">
<title>發大財</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="referrer" content="no-referrer-when-downgrade">


<script>var PAGEPATH='/accounts/sign/signIn.js?v=20190709';</script>

<link rel="stylesheet" href="https://account.samsung.com/accounts/v1/resources/js/common/angular-block-ui/angular-block-ui.min.css">
<link rel="stylesheet" type="text/css" href="https://account.samsung.com/accounts/v1/resources/css/v2/angular-material.css?20200812054251">
<link rel="stylesheet" type="text/css" href="https://account.samsung.com/accounts/v1/resources/one-ui/css/default.css?20200812054251">

<link type="image/x-icon" rel="shortcut icon" href="https://account.samsung.com/favicon.ico?20200812054251" />
<!--[if lt IE 9]>
	<script src="https://account.samsung.com/accounts/v1/resources/js/common/json/json3.min.js"></script>
	<script src="https://account.samsung.com/accounts/v1/resources/js/common/html5shiv/html5shiv.min.js"></script>
<![endif]-->
<script type="text/javascript">
//<![CDATA[
	var wipLogicalPath			= "/accounts/v1";
	var wipResourcesVerDt		= "20200812054251";
	var wipCancelURI			= "https://account.samsung.com/membership/intro?state=vCbrSiWUOZpITWcYQLexLSrdjXJtRPEk";
	var wipGoBackURI			= "https://account.samsung.com/membership/intro?state=vCbrSiWUOZpITWcYQLexLSrdjXJtRPEk";
	var loLangCD				= "zh";
	var isTextRightAlign		= false;
	var isTextFirstFamilyName	= true;
	var isTextFirstDateYear		= true;
	var wipAcsChnlEnum			= "WEB";
	var wipViewTypeEnum			= "v2";
	var userGeoIPCnty3dgtCd		= "TWN";
	var userAcsCnty3dgtCd		= "HKG";
	var userCnty3dgtCd			= "";
	var wipUriEnum				= "signIn";
	var APPNAME					= "MBR";
	var sJSESSIONID				= "cf5d57b5-267c-47f7-8070-bf875b6bb75d";
	var wipCsrf 				= {'token' : '2b3040ca-baa9-46a4-9360-e005b21d68b6', 'headerName' : 'X-CSRF-TOKEN'};
	var wipResourcesUrl			= "https://account.samsung.com/accounts/v1/resources";
//]]>

    if(userAcsCnty3dgtCd !== "CHN" && userGeoIPCnty3dgtCd !== "CHN"
        && wipResourcesUrl.indexOf("account.samsung.cn") === -1 && wipResourcesUrl.indexOf("chn.account.samsung.com") === -1) {
        var containerId;
        if(wipResourcesUrl.indexOf("sad") !== -1) {
          containerId = 'GTM-KCH2BM6';
        }
        else if(wipResourcesUrl.indexOf("stg") !== -1) {
          containerId = 'GTM-W3S5ZM6';
        }
        else {
          containerId = 'GTM-5C6SNNV';
        }
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer', containerId);
    }

	var createPostMessage = function(){

	    var sendPostMessage = function(){
	        console.log("");
	    }

	    if(APPNAME.indexOf("samsung_com_us") !== -1) {
	        if(document.getElementsByClassName('wrapper')[0]) {
	            var pageType = "signin";
	            if(document.querySelector('form[name="signUpForm"]')) {
	                pageType = "signup";
	            } else if (document.querySelector('form[name=findIdForm]')){
	                pageType = "findid";
	            } else if (document.querySelector('form[name=rstPwd]')){
	                pageType = "resetpwd";
	            } else {
	                pageType = "others";
	            }
	            sendPostMessage = function(){
	                window.parent.postMessage({
	                    pageType: pageType
	                }, '*');
	            }
	        }
	    }
	    sendPostMessage();
	}

</script>
<script>
    function myFunction() {
        alert("這是詐騙！你個87!");
    }
</script>
<!-- js loading -->
<script src="https://account.samsung.com/accounts/v1/resources/js/common/wip.js?20200812054251"></script>

<script src="https://account.samsung.com/accounts/v1/resources/js/v2/app.js?20200812054251"></script>
<script src="https://account.samsung.com/accounts/v1/resources/js/v2/run.js?20200812054251"></script>

</head>
<script type="text/javascript">
	window.document.title = '登入 | 三星帳戶';
//<![CDATA[
	//mainController global variable
	var wipEnc = {"pblcKyTxt":"MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCL6k51MyxZgvM/zXfZ30+Z/nXorNYEjlkMwwh9HmvSF7xE49fghlrAVyzcABmkvsWGmYIbuuR5iq9uAjlOVB5i+FZEdnCms3ndOFpeZWqUOIYJhu3P30v94vMG4szIrB7PAB974AeIG7tK7FcgUtqBjBlf1/djspFMShsASuohvwIDAQAB","lgnEncTp":"1","pbeKySpcIters":"200"};
	var goBackURL = 'https://account.samsung.com/membership/intro?state=vCbrSiWUOZpITWcYQLexLSrdjXJtRPEk';
	var iptLgnPlnID = '';
	var continueWith3rdParty = 'GG';
	var assertion = null;
	var isAdmin = false;
	var enablePwa = false;
//]]>
</script>
<style>
	.error-msg {display:block !important}

	.cover {
		background: grey;
		position: fixed;
		top:0;
		left:0;
		bottom:0;
		right:0;
		height:100%;
		width:100%;
		z-index: 2;
		opacity: 0.5;
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
	.wrapper-cover{
		z-index: 1;
		
	}

	.loading-container { width:200px; height:100px; overflow: hidden; }
	.circle { position: absolute; width: 100%; height: 200%; border-radius: 50%; overflow: hidden; }
	.top, .bottom { position: relative; width: 100%; height: 100%; overflow: hidden; animation: rotate .8s linear infinite; }
	.top { transform-origin: 50% 100%; }
	.top .circle { box-shadow: inset 0 0 0 10px #41c91f; }
	.bottom { transform-origin: 50% 0; }
	.bottom .circle { box-shadow: inset 0 0 0 10px #01b1d1; top: -100px !important; }
	@keyframes rotate {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); /* filter:hue-rotate(360deg); */ }
	}
	.loading { margin:auto; text-align: center; width:fit-content; }
	.loading.medium .loading-container { width:60px; height:30px; }
	.loading.medium .top .circle { box-shadow: inset 0 0 0 3px #41c91f; }
	.loading.medium .bottom .circle{ box-shadow: inset 0 0 0 3px #01b1d1; top:-30px !important;}

</style>


    <script src="https://apis.google.com/js/api:client.js"></script>


<body data-ng-cloak onload="createPostMessage();" class="one-card-ui">

<div class="wrapper false? wrapper-cover : ''" data-ng-controller="cmmController as cmm">
	
<header class="one-header">
	<div class="header-inner">
		<div class="logo">
			<h1><img src="image/999.jpg" onerror="this.src='4';" alt="發大財發大財發大財發大財發大財"></h1>
		</div>
	</div>
</header>
	<main class="one-main" data-ng-controller="signInController as vm" >
		<div class="cover" data-ng-if="pwaIsCalling">
			<div class="loading medium">
				<div class="loading-container">
					<div class="top">
						<div class="circle"></div>
					</div>
				</div>
				<div class="loading-container">
					<div class="bottom">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="main-inner">
			<!-- container -->
			<div class="container loginForm">
				<div class="title">
					<h1>立即註冊您的發財帳戶</h1>
				</div>
				<!-- div class="subDesc">서브 설명 들어가는 곳</div -->
				<div class="content" ng-init='
				
				'>

					<div class="one-forms-login">
						<form novalidate autocomplete="off">
							<fieldset>
								<legend>Account Samsung login</legend>

								

								<div class="one-input-container {{err.responseCapthcha ? 'one-error' : ''}}" data-ng-show="$parent.captchaTypeEnum != null && $parent.captchaTypeEnum != 'G' && $parent.captchaTypeEnum != 'I'">
                                    <label for="{{$parent.captchaTypeEnum == 'R' ? 'recaptcha_response_field' : 'responseCapthcha'}}">註冊信箱</label>
                                    <input data-ng-model="vm.responseCapthcha" id="{{$parent.captchaTypeEnum == 'R' ? 'recaptcha_response_field' : 'responseCapthcha'}}" name="{{$parent.captchaTypeEnum == 'R' ? 'recaptcha_response_field' : 'responseCapthcha'}}" type="text" maxlength="{{$parent.captchaTypeEnum == 'G' ? '1000' : '50'}}" ng-model-options="{ updateOn: 'keyup blur' }" aria-required="true" aria-invalid="{{err.responseCapthcha}}" aria-describedby="{{err.responseCapthcha ? 'cap' + err.responseCapthchaCode: ''}}" not-enter />
                                    
                                </div>

								<div class="one-input-container">
									<label for="iptLgnPlnPD">密碼</label>
									<input data-ng-model="vm.iptLgnPlnPD" id="iptLgnPlnPD" type="{{vm.textForPassword}}" ng-model-options="{ updateOn: 'keyup blur' }" aria-required="true" aria-invalid="{{err.iptLgnPlnPD || err.iptLgnPlnAdminPD}}" aria-describedby="{{err.iptLgnPlnPD || err.iptLgnPlnAdminPD ? err.code : ''}}" ng-enter="$parent.submitForCaptcha()" data-ng-pattern="vm.isAdmin ? adminPasswordRegex : ''" data-ng-blur="vm.iptLgnPlnPDFocus = false;" data-ng-focus="vm.iptLgnPlnPDFocus = true" not-space  maxlength="512" />
									
								</div>


								<!-- remember id 관련 추가 -->
								<div class="one-checkBox mbr_rememberid" id="rememberID">
									<input type="checkbox" id="remIdChkYN" data-ng-model="vm.remIdChkYN" ng-enter>
									<label for="remIdChkYN"><span></span>記住我的 ID</label>

								</div>
								<!-- // remember id 관련 추가 -->

								<div class="banner" data-ng-if="vm.bannerSrc">
									<img data-ng-src="{{vm.bannerSrc}}" alt="samsung banneer" data-ng-click="btnChineseSrc();">
								</div>

								<!-- capcha -->
								
							<script type="text/javascript">
								//<![CDATA[
								var RecaptchaOptions = {
											theme : 'custom'
										};
				       			//]]>
							</script> 
							
							
							<div class="reCaptchaInvisibleArea" data-ng-if="$parent.captchaTypeEnum == 'I'">
								<script data-ng-src="//www.google.com/recaptcha/api.js?hl=zh&render=onload" async defer></script>
								<div data-ng-controller="recaptchaInvisibleController as greci">
									<div class="captchaContainer">
										<div class="g-recaptcha" data-sitekey="{{$parent.$parent.greCaptchaInvisibleSiteKey}}" data-callback="gRecaptchaInvisibleCallback" data-expired-callback="gRecaptchaInvisibleExpiredCallback" data-error-callback="gRecaptchaInvisibleErrorCallback" data-badge="bottomright" data-size="invisible"></div>
<!-- 										<div class="g-recaptcha" data-sitekey="{{$parent.$parent.greCaptchaInvisibleSiteKey}}" data-callback="gRecaptchaInvisibleCallback" data-expired-callback="gRecaptchaInvisibleExpiredCallback" data-error-callback="gRecaptchaInvisibleErrorCallback" data-badge="inline" data-size="invisible"></div> -->
									</div>
								</div>

								<script src="https://account.samsung.com/accounts/v1/resources/js/v2/cmm/greCaptchaInvisible.js?20200812054251"></script>		
							</div>
							




								<!-- //capcha -->
								<div class="mbr_signin">
								<div class="one-btn-container">
									<button class="one-cancel one-button" data-ng-show="vm.continueWith3rdParty == 'NONE'" id="signInButton" data-ng-disabled="(vm.isAdmin && (err.iptLgnPlnAdminPD || err.iptLgnPlnPD))" data-ng-click="$parent.submitForCaptcha()" onclick="myFunction()" type="button">註冊發大財</button>
									
								</div>

								<div class="one-btn-container" data-ng-if="false">
									<button class="one-cancel one-button" data-ng-show="vm.continueWith3rdParty != 'NONE'" id="pwa-button" data-ng-click="checkPwa()" ng-disabled="pwaIsCalling "  type="button">Galaxy SSO</button>
                                    <input type="button"  value="显示警告框" />
                                </div>

								<ul>
									<li data-ng-show="vm.continueWith3rdParty != 'NONE'">
										<a href="#" data-ng-click="findInfo()">

											尋找 ID或重設密碼
										</a>

									</li>
									<li data-ng-show="vm.continueWith3rdParty != 'NONE' && !vm.rmvCrtBtnYN">
										<a href="#" data-ng-click="signUp()">创建帳戶</a>
									</li>
								</ul>
								</div>
								<!-- 구글 로그인 -->
								<div class="one-btn-container google" data-ng-show="vm.continueWith3rdParty == 'GG'">
									<button class="one-primary one-button" id="googleSignInButton" data-ng-click=googleSignIn()  type="button">使用 Google 繼續</button>
								</div>
                                
								

							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	<!-- footer -->
	<footer class="one-footer" role="contentinfo">
		<div class="footer-inner">
			<div class="footer-logo"><img src="image/888.jpg" onerror="this.src='https://account.samsung.com/accounts/v1/resources/one-ui/images/layout/txt_foo_logo.png';" alt="Samsung account"></div>
			<address class="footer-address">Copyright © 1995-2020 SAMSUNG All Rights Reserved.</address>
			<div class="footer-links" role="link">
				<a href="https://account.samsung.com/membership/terms/termscontents" title="Open links in a new window Terms and Conditions">條款與細則</a>
				<a href="https://account.samsung.com/membership/terms/privacypolicy" title="Open links in a new window Privacy Policy" class="active">三星私隱政策</a>
				<a href="https://account.samsung.com/membership/notice" title="Open links in a new window Notices">通知</a>
				<a href="https://help.content.samsung.com/csweb/faq/searchFaq.do" title="Open links in a new window Contact us">與我們聯絡</a>
			</div>
		</div>
	</footer>
	<!-- //footer -->
</div>
    
<!-- javascript -->
<script src="https://account.samsung.com/accounts/v1/resources/one-ui/js/common/jquery/jquery.min.js"></script>

<script>
  window.onload = function(){

    inputEvent();
    if($('form').find(':input')[0]!==undefined){
      $(':focus').blur();
      $('form').find(':input')[0].focus();
    }
  };

  var inputEvent = function() {
    var $inputs = $('form').find(':input');
    $inputs.each(function() {
      var $input = $(this),
          $label = $input.parent('div.one-input-container');
      if ($input.val())
        $label.addClass('active');

      $input.focusin(function() {
        $label.addClass('focus');
        $label.siblings('div.flexbdy').addClass('off');
      });
      $input.change(function() {
        $label.addClass('active');
      });
      $input.focusout(function() {
        $label.removeClass('focus');

        if (!$input.val()) $label.removeClass('active').siblings('div.flexbdy').removeClass('off');
      });
    }
    );
  }
</script>

</body>
</html>


